.logo {
  height: 70px;
  width: 70px;
}

.header-button.p-selectbutton .p-button.p-highlight {
  background: #ffffff;
  color: #495057;
  border-color: #ced4da;
}

.header-button.p-selectbutton .p-button.p-focus:focus {
  box-shadow: none;
}
