.textarea-description {
  height: 135px !important;
}

.image-upload.p-fileupload .p-fileupload-content {
  padding: 1rem;
  height: 235px;
}

.image-upload.p-fileupload .p-fileupload-content .p-fileupload-files,
.image-upload.p-fileupload
  .p-fileupload-content
  .p-fileupload-files
  .p-fileupload-row {
  height: 100%;
}

.image-upload.p-fileupload .p-fileupload-content .p-progressbar {
  display: none;
}

.course-image {
  width: 200px;
}
