.item-wrapper {
  width: 15rem;
  height: 10rem;
}

.transaction-history-table.p-datatable .p-datatable-thead > tr > th,
.p-datatable .p-datatable-tbody > tr > td {
  border: none;
}

.transaction-history-table.p-datatable .p-datatable-thead > tr > th {
  border-bottom: 2px solid #b3b3b3;
  background-color: transparent;
}

.transaction-history-table {
  border: 2px solid #e6e6e6;
  border-radius: 12px;
  padding: 0 1.5rem;
  background-color: #ffffff;
}

.history-transaction-wrapper {
  height: 75%;
}

.related-course-wrapper .related-course:not(:last-child) {
  margin-right: 1.5rem;
}

.related-course {
  min-width: 20rem;
  height: 10rem;
}
